.button {
  background-color: var(--bg-color);
  border: 1px solid var(--border-color);
  color: var(--text-color);
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.button:hover {
  background-color: var(--hover-color);
  border-color: var(--border-color);
}
