.dropdown {
  position: relative;
  width: 13rem;
  height: 3rem;
}

.selected-option {
  cursor: pointer;
  padding: 0.4rem 0.8rem;
  border-radius: 0.5rem;
  border: 0.1rem solid var(--border-color);
  font-size: 1.2rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 10;
  border-top: none;
  font-size: 1.2rem;
  border: 0.1rem solid var(--border-color);
  border-radius: 0 0 4px 4px;
  background-color: var(--bg-color);
}

.option {
  cursor: pointer;
  padding: 0.5rem;
}
 
.option:hover {
  background-color: var(--hover-color);
}
